<style>
article.past, article.next {
    background: #e0e0e0 !important;
}
.slides > article {
    font-family: "Proxima Nova", Roboto, Helvetica, sans;
    color: #333333;
}
ul > li {
    list-style-image: url(images/laptop.png);
}
ul, ol {
    margin-left: 5%;
}
li {
    color: #333333;
    padding: 10px 0;
    line-height: 36px;
}
ul > li > ul > li {
    color: #444444;
    list-style-image: url("images/bullet.png");
}
h1, h2, h3, h4 {
    // color: #1a9c9a;
    font-weight: bold;
    color: #003380;
    font-family: "Proxima Nova", Roboto, Helvetica, sans;
}
pi, li {
    font-family: "Proxima Nova", Roboto, Helvetica, sans;
}
h3 {
    font-size: 46px;
}
h1.mytitle {
    font-family: "Proxima Nova", Roboto, Helvetica, sans;
    color: #ffffff;
    vertical-align: middle;
    line-height: 76px;
    text-align: center;
    font-size: 66px;
}
h1.mytransition {
    font-family: "Proxima Nova", Roboto, Helvetica, sans;
    text-align: center;
    margin-top: 25%;
    vertical-align: middle;
    color: #ffffff;
}
p.titleinfo {
    font-family: "Proxima Nova", Roboto, Helvetica, sans;
    margin-top: 10%;
    font-size: 26px;
    color: #f0f0f0;
    line-height: 38px;
    text-align: center;
}
article.transition.current {
    //background: #1a9c9a;
    background: #aa3333;
}
span.cite {
    font-size: 24px;
    color: #777777;
}
.flowchart img {
    height: auto;
    width: 115%;
    margin-left: -7.5%;
    max-width: 115%;
}
.fullflowchart img {
    margin-top: -12.5%;
    margin-left: 5%;
    width: 90%;
    max-height: 110%;
    height: auto;
}
.results img {
    height: auto;
    width: 100%;
}
</style>
